Navbar

body{
font-family: 'Libre Baskerville', serif;
}





.nav-item{
letter_spacing:.2em;
font-size:11px;
text-transform:uppercase;
}
.nav-item dropdown{
letter_spacing:.2em;
font-size:11px;
text-transform:uppercase;
}



.my_footer p{
padding-top:20px;
font-isze:14px;
}
.my_footer{
margin-top:400px;
background-color:darkgrey;
height:60px;}
.my-row-class{
padding-top:15px;
}





.my-row-class .mx-auto{
color:#000;
font-size:12px;}

.my-image{
width:300px;
height:auto;
}
.my-tittle{
letter_spacing:.2em;
font-size:20px;
text-transform:uppercase;}

.my-t{letter_spacing:.2em;
font-size:18px;
text-alin:justify;

}

.my-image-padding{
padding:100px;}
.my-bottom-margin{
margin-bottom:10px;
}
.cad-body{
font-size:12px;
text-transform:uppercase;
letter-spacing:.2em;
}






.my-prod-row-class{
padding-top:15px;
padding-bottom:20px;
}
.my-prod-row-class .my-auto{
color:#000;
font-size:12px;
text-decoration:none;
}
.my-bottom-margin{
margin-bottom:10px;
}

.my-prod-title{
font-size:12px;
text-transform:uppercase;
letter-spacing:.2em;padding-top:15px;
padding-bottom:20px;
}











.my-search-text{
padding-top:20px;}

.my-custom-table{
min-width:400px;
font-size:14px;
}
.my-custom-thead{
font-weight:normal;
text-tarnsform:uppercase;
letter_spacing:.2em;
background-color:#f8f8f9!important;}

.mmy-custom-button{
margin-top:5px;}

.custom-a{
text-decoration:none;
}

.custom-icon{
text-decoration:none;
color:#868e96!important;
}